.lockbox-container {

  margin: 5rem ;
  text-align: center;
  padding: 2rem;
  border-radius: 10px;
  background-color: #111;
  color: white;
}

input[type="password"] {
  padding: 0.5rem;
  margin-top: 1rem;
  font-size: 1rem;
  width: 100%;
}

button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;

  color: white;
  border: 1px solid white;
  cursor: pointer;
}

.error {
  color: red;
  margin-top: 1rem;
}

.lockbox-image {
  width: 100%;
  max-width: 500px;
  height: auto;
  display: block;
  margin: 0 auto 1.5rem auto;
  border-radius: 10px;
}